.loading {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.loading p {
    font-weight: 600;
    color: #A9A9A9;
    font-size: 2rem;
}

.recipe {
    padding: 0 0.7rem;
    max-width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,
.instructions ol li:before {
    font-family: 'Playfair Display', zGeorgia, 'Times New Roman', Times, serif;
}

.header h1 {
    font-size: 1.5rem;
}

/* Simulate flexbox gap */
.description > span + p,
.meta__item > i + div,
.ingredient label > input + span {
    margin-left: 0.5rem;
}

.description {
    margin-bottom: 1.5rem;
    flex-direction: row;
    display: flex;
}

.description .material-icons {
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    color: #C4C4C4;
}

.description p {
    font-style: italic;
    line-height: 1.1rem;
    font-size: 0.8rem;
    color: #4F4F4F;
    width: 40ch;
    margin: 0;
}

.cover-image {
    margin: 0 0 1rem 0;
    min-height: 160px;
    min-width: 100%;
    padding: 0;
}

.cover-image img {
    border-radius: 12px;
    object-fit: contain;
    width: 100%;
    padding: 0;
    margin: 0;
}

.recipe__body {
    display: grid;
}

.meta--wrapper {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    row-gap: 1rem;
}

.meta__item {
    align-items: center;
    font-size: 0.7rem;
    color: #333333;
    display: flex;
}

.meta__item--full {
    grid-column-start: 1;
    grid-column-end: 4;
    color: #F2994A;
}

.meta__item:not(.meta__item--full) {
    font-weight: bold;
}

.meta__item:not(.meta__item--full) .material-icons {
    font-size: 1.4rem;
    color: #4F4F4F;
}

.meta__body header {
    text-transform: uppercase;
    line-height: 0.9rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: #BDBDBD;
}

.recipe__body > aside + section {
    margin-top: 2rem;
}

.ingredients h2,
.ingredients h3 {
    color: #333333;
}

.ingredients h2 {
    font-size: 1.2rem;
}

.ingredients h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.1rem;
}

.ingredient {
    line-height: 1.5rem;
    font-size: 0.9rem;
    display: grid;
}

.ingredient > label + label {
    margin-top: 0.7rem;
}

.ingredient label {
    display: flex;
}

.ingredient .checkbox {
    margin: 0.3rem 0;
}

.ingredient p {
    display: inline;
}

.instructions > header + ol {
    margin-top: 2rem;
}

.instructions ol {
    margin: 0; padding: 0;
    list-style: none;
}

.instructions ol > li + li {
    margin-top: 2rem;
}

.instructions ol li {
    padding-left: calc(42px + 1rem);
    position: relative;
}

.instructions ol li:before {
    background-color: #F2994A;
    content: attr(data-step);
    justify-content: center;
    position: absolute;
    border-radius: 6px;
    font-size: 1.7rem;
    color: #FFFFFF;
    display: flex;
    height: 42px;
    width: 42px;
    left: 0;
}

.instructions ol li p {
    line-height: 1.5rem;
    width: 27ch;
}

.recipe > article > footer,
.recipe > article > footer a {
    text-decoration: none;
    font-style: italic;
    font-size: 0.8rem;
    color: #BDBDBD;
}

.recipe > article > footer p {
    flex-direction: column;
    line-height: 1.2rem;
    display: flex;
}

.recipe > article {
    margin-bottom: 6rem;
}

.app > footer {
    margin-bottom: 2rem;
}

.app > footer {
    text-align: center;
    color: #A9A9A9;
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
}

.app > footer a {
    text-decoration: none;
    color: #A9A9A9;
}

.app > footer a:hover ,
.recipe > article > footer a:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .app {
        width: 960px;
        margin: 0 auto;
    }

    .header h1 {
        line-height: 2rem;
        font-size: 3rem;
    }

    .description p {
        line-height: 1.2rem;
        font-size: 0.9rem;
        width: 62ch;
    }

    .recipe__body {
        grid-template-columns: 1fr 220px;
        grid-column-gap: 120px;
    }

    .recipe__body > aside + section {
        margin: 0;
    }

    .recipe__body .meta {
        flex-direction: column;
        margin-top: 2rem;
        grid-column: 2;
        min-height: 0;
        grid-row: 1;
    }

    .recipe__body .meta--wrapper {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
        flex-direction: column;
        border-radius: 12px;
        display: flex;
        padding: 2rem;
    }
    
    .recipe__body .meta--wrapper > div + div {
        margin-top: 1rem;
    }

    .meta__item .material-icons,
    .meta__item:not(.meta__item--full) .material-icons {
        font-size: 2rem;
    }

    .recipe__body .meta__body span {
        line-height: 1.1rem;
        font-size: 0.9rem;
    }

    .recipe__body .meta__body header {
        line-height: 1.2rem;
        font-size: 0.6rem;
    }

    .meta__item > i + div {
        margin-left: 0.9rem;
    }

    .meta__item,
    .meta__item:not(.meta__item--full) {
        align-items: center;
        font-weight: 500;
    }

    .recipe__body .ingredients,
    .recipe__body .instructions,
    .recipe__body footer {
        grid-column: 1;
    }

    .recipe__body .instructions p {
        width: auto;
    }

    .ingredients h2 {
        font-size: 1.5rem;
    }

    .ingredients h3 {
        margin: 2.4rem 0;
    }

    .ingredient {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .recipe > article > footer p {
        flex-direction: row;
        gap: 0.3rem;
    }

    .recipe > article > footer p,
    .recipe > article > footer p a {
        font-size: 1rem;
    }
    
}